<!DOCTYPE html>
<html lang="fr">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Bot localisation </title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
    </script>
    <script src="{{ url_for('static', filename='script.js')}}">
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>

<body>
    <div id="ChatBot_container">
        <div class="card-header msg_head">
            <div class="d-flex bd-highlight">
                <img src="{{ url_for('static', filename='logo.png')}}" lass="rounded-circle user_img">
                <div class="chat_info">
                    <span>Assistant de localisation</span>
                    <p>Université de Bordeaux</p>
                </div>
                <div class="video_cam">
                    <span><i class="fas fa-phone"></i></span>
                </div>
            </div>
            <span id="close_menu_btn" onclick="openChat(); closeChat()"><i class="fa fa-times" aria-hidden="true"></i></span>
        </div>
        <div class="card-body chat bot">
            <div class="d-flex justify-content-start mb-4">
                <div class="msg_cotainer msg">
                    <p>
                    </p>
                </div>
            </div>
        </div>

        <div class="input-group response">
            <input type="text" class="form-control type_msg msg user-text" placeholder="Entrer votre message..." onkeypress="verifEnter(event)">
            <div class="input-group-append">
                <span class="input-group-text "><i class="fas fa-arrow-right submit"></i></span>
            </div>
        </div>
    </div>
    <script>
        function verifEnter(event) {
            var x = event.which || event.keyCode;
            if (x == 13) {
                LoadTextResponse();
            }
        }

        function LoadTextResponse() {
            var input_usr = document.getElementsByClassName("form-control type_msg msg user-text")[0].value;
            document.getElementsByClassName("form-control type_msg msg user-text")[0].value = "";
            LoadBotResponse(input_usr);
        }

        function addText(id, text) {
            var new_para = document.createElement("p");
            var new_text = document.createTextNode(text);
            new_para.appendChild(new_text);
            console.log(text);
            var element = document.getElementsByClassName(id)[0];
            console.log(document.getElementsByClassName(id))
            element.appendChild(new_para);
        }

        function LoadBotResponse(input_usr) {
            addText("msg_cotainer msg", input_usr);
            console.log("User input : ")
            console.log(input_usr);
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    BotResponse(this);
                }
            };
            xmlhttp.open('POST', 'http://localhost:5000/update', true);
            xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xmlhttp.send("msg=" + input_usr);
        }

        function BotResponse(xmlhttp) {
            var infos = JSON.parse(xmlhttp.responseText);
            rep = infos["msg"];
            cont = infos["context"];
            console.log("response : ");
            console.log(rep);
            var len = rep.length;
            var cpt = 0;
            for (var i = 0; i < len; i++) {
                var msg = rep[cpt];
                console.log("msg : ");
                console.log(msg);
                cpt++;
                if (cpt == len) {
                    if (msg["response_type"] == "text") {
                        addText("msg_cotainer msg", msg["text"]);
                    } else if (msg["response_type"] == 'option') {
                        addText("msg_cotainer msg", msg["title"]);
                        console.log(msg);
                        for (var i = 0; i < msg["options"].length; i++) {
                            addText("msg_cotainer msg", "- " + msg["options"][i]["label"]);
                        }
                    } else {
                        addText("msg_cotainer msg", "Pouvez-vous reformuler ?");
                    }
                } else {
                    addText("msg_cotainer msg", msg["text"]);
                }
            }
        }
    </script>
</body>

</html>