* {
    font-family: 'Quicksand', sans-serif;
}

.content {
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.component {
    width: 75vw;
}

.add {
    display: flex;
    justify-content: flex-end;
}

.component button {
    margin-left: 0.4vw;
    margin-right: 0.4vw;
}

.title {
    display: flex;
    align-items: center;
    margin-top: 22vh;
}

.search {
    width: 30vw;
    margin-top: 8vh;
    margin-bottom: 14vh;
}

.popup {
    position: absolute;
    top: 37.5vh;
    right: 35vw;
    background-color: white;
    border: solid 1px #17a2b8;
}

.display i {
    color: white;
}

.file i {
    color: #17a2b8;
}

.file:hover i {
    color: white;
}

.show-popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 25vh;
}

.show-popup a {
    position: relative;
    align-self: end;
    bottom: 7.5vh;
    right: 0.5vw;
}

.show-popup button {
    position: relative;
    align-self: end;
    top: 6.5vh;
    right: 0.5vw;
}

.hide-popup {
    display: none;
}
